@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
}

/* выдвигающиеся меню */
.wrapper {
  position: relative;
  overflow-x: hidden;
}
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
  background: #000000;
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a.href-1-1 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial;
  color: #fff;
}
.menu-list a.href-1-1:hover {
  font-size: 27px;
  transition: 1s;
  color: rgb(61, 240, 240);
}
.menu-btn {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border: 0.5px solid rgb(122, 122, 122);
  position: absolute;
  right: -35px;
  top: 10px;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}
/* первая страница*/
section.pg-1 {
  height: 100vh;
  background: #000;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  background-size: 100%;
  margin-top: 0px;
}

.img-src-1 {
  display: none;
}
/***********************************/
.pg-1-1-1 {
  background-color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 0px;
}
.pg-1-1-2 {
  display: block;
}
.pg-1-1-3 {
  display: none;
}
.pg-1-1-4 {
  display: none;
}

/*************************************/
h1.privet span {
  font: 20px;
  font-family: Arial;
  height: 120px;
  position: absolute;
  width: 20px;
  left: 48.5%;
  top: 29%;
  opacity: 0.6;
  color: hsl(0, 100%, 69%);
  transform-origin: bottom center;
}

.char1 {
  transform: rotate(-30deg);
}
.char2 {
  transform: rotate(-15deg);
}
.char3 {
  transform: rotate(0deg);
}
.char4 {
  transform: rotate(15deg);
}
.char5 {
  transform: rotate(30deg);
}
.char6 {
  transform: rotate(55deg);
}
.char7 {
  transform: rotate(70deg);
}
.char8 {
  transform: rotate(85deg);
}
.char9 {
  transform: rotate(100deg);
}
.char10 {
  transform: rotate(115deg);
}
.char11 {
  transform: rotate(140deg);
}
.char12 {
  transform: rotate(155deg);
}
.char13 {
  transform: rotate(195deg);
}
.char14 {
  transform: rotate(210deg);
}
.char15 {
  transform: rotate(225deg);
}
.char16 {
  transform: rotate(240deg);
}
.char17 {
  transform: rotate(255deg);
}
.char18 {
  transform: rotate(270deg);
}

/**ПАралакс***********************
********************************
***********************************/
.parallax {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pg-1-1-1 {
  background-color: #fff;
  height: 100vh;

  background-repeat: no-repeat;
  /*background-position: center center;*/
  background-size: 100%;
  margin-top: 0px;
}
.pg-1-1-2 {
  display: block;
}
.pg-1-1-3 {
  display: none;
}
.pg-1-1-4 {
  color: #fff;
}
/*********************************
*********************************
***********************************/

/* линия ппоиска*/
section.pg-2 {
  margin-top: 50px;
}
ul.myUl {
  display: none;
}
div.page-2 {
  width: 1196px;
  height: 40%;
  background: #f1f1f1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
ul.page-2-ul {
  text-align: center;
}
li.page-1-t4 {
  display: inline-block;
  padding-left: 151px;
  font-family: sans-serif;
}
div.pg-2-1 {
  padding-left: 20px;
  width: calc(25% - 100px);
  height: 40px;
}
a.href-2 {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  color: #000;
}
.input-1 {
  border: none;
  width: 150px;
  height: 40px;
  background: #2d3436;
  font-size: 15px;
  margin-top: -9px;
  border-radius: 3px;
}

input::placeholder {
  border: none;
  font-size: 15px;
  color: #fcfcfc;
  padding-left: 5px;
  font-family: sans-serif;
  font-weight: medium;
}
div.pg-2-1 {
  margin-top: 15px;
  display: flex;
  margin-left: 90px;
}
.img-2 {
  width: 18px;
  height: 18px;
  padding-top: 3px;
  padding-left: 10px;
}
.input-1 {
  border: none;
  color: #cacaca;
}
input[type="text"] {
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*Каталог***************************
********************************
********************************/
section.pg-3 {
  margin: 0 auto;
  width: 1196px;
  margin-top: 156px;
  position: relative;
}
.img3 {
  position: absolute;

  left: 0px;
}
h1.page-3-text-1 {
  position: absolute;
  top: 480px;
  left: 24px;
  color: #2d3436;
  font-family: sans-serif;
  font-size: 40px;
}
.img4 {
  position: absolute;
  left: 607px;
}
h1.page-3-text-2 {
  position: absolute;
  left: 632px;
  top: 315px;
  color: #2d3436;
  font-family: sans-serif;
  font-size: 40px;
}
.img5 {
  position: absolute;
  top: 658px;
}
.img6 {
  position: absolute;
  top: 478px;
  left: 607px;
}
h1.page-3-text-3 {
  position: absolute;
  left: 21px;
  top: 1150px;
  color: #2d3436;
  font-family: sans-serif;
  font-size: 40px;
}
h1.page-3-text-4 {
  position: absolute;
  left: 625px;
  top: 1052px;
  color: #2d3436;
  font-family: sans-serif;
  font-size: 40px;
}
/************Заполенние фформы*****************
********************************************
**********************************************/
section.pg-4 {
  height: 380px;
  margin-top: 10%;
  background: #000;
}
div.container-2 {
  display: flex;
  justify-content: space-around;
}

div.input-flex {
  display: flex;
  flex-direction: column;
}
h1.page-4-text-1 {
  color: rgb(206, 206, 206);
  font-size: 20px;
  font-family: Arial;
  font-weight: lighter;
}

.input-4[type="text"] {
  color: rgb(255, 255, 255);
}
.input-4 {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #fffdfd;
  background-color: #000;
}
.pg-4-1 {
  padding-top: 80px;
}
.btn-4 {
  margin-top: 40px;
  width: 102px;
  height: 25px;
  border: 1.5px solid #fff;
  outline: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-family: "mr_ApexMk3";
  font-weight: lighter;
}
.btn-4:hover {
  background: rgba(0, 0, 0, 0);
  color: #56dbfc;
  box-shadow: inset 0 0 0 1px #ffffff;
}

.pg-4-2 {
  padding-top: 120px;
  position: relative;
}
.img-4 {
  position: absolute;
  left: 60px;
  top: 90px;
}
.pg-4-2 h3.page-4-text-2 {
  padding-top: 20px;
  color: rgb(184, 184, 184);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
/***********************************************/
/*Slider****************************************/

.container {
  width: 70%;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-family: sans-serif;
  opacity: 0;
}
.slide.active {
  flex: 10;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.6s;
}

.container-slider {
  margin-bottom: 0px;
  font-family: "Roboto";
  overflow: hidden;
  margin-top: 200vh;
  background: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************************
*******************************************************
*************************footer**************************
**********************************************************/
section.pg-5 {
  background-color: #000;
}
.pg-5-lu {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 70px;
}
.pg-5-li {
  display: inline-block;
  font-size: 16px;
  margin-top: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: Arial;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
}
.pg-5-li .pg5-a {
  opacity: 0.7;
}
